@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root{ 
    --cor-de-fundo: #B95E82; 
    --cor-texto-principal: #FFECC0;
    --cor-texto-secundaria: #FFECC0;  
    --botao-ativo: #b95454; 
    --botao-inativo:#F39F9F; 
}


body{
    background: var(--cor-de-fundo);
    color: var(--cor-texto-principal);
    font-family: "Bitcount Grid Double Ink", system-ui;
}


.conteudo-principal { 
    display: flex;
    flex-direction:column;
    justify-content: center; 
    align-items: center; 
    max-width: 1200px; 
    width: 100%; 
    margin: 0 auto;
 } 
    
    .titulo-principal { 
    text-align: left; 
    width: 100%; 
    font-size: 32px;
 }
  .titulo-principal span  { 
    color: #ffffff 
} 
    
    .botao { 
    background-color: var(--botao-inativo);
     display: flex; 
     justify-content: center; 
     padding: 1em; 
     font-size: 18px;
      align-items: center; 
      width: 100%;
      border-bottom: 4px solid var(--botao-ativo);
      border-bottom: 2px solid var(--botao-ativo);
      border-bottom: 2px solid var(--botao-ativo);
    border-top: none;
     }

     .botao:first-child{
        border-radius: 40px 40px 0 0; 
     }

     .botao.ativo {
        background-color: var(--botao-ativo);
        border-bottom: 4px solid #F39F9F

     }

     .aba-counteudo.ativo{
        display: block;
     }
     .abas-texto {
        background-color: var(--cor-de-fundo);
        padding: 40px; 
        border-radius: 0 0 40px 40px;
     }



.abas-texto{
    background-color: var(--botao-inativo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}

.conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}


@media screen and (min-width: 768px){
    .botões{
        display:flex;

    }

    .botao:first-child{
        border-radius: 40px 0 0;

    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
}

    

